* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1{
    text-align: center;
    margin: 20px;
  }


/*================NAVBAR====================  */
nav {
    background-color: rgb(75, 140, 197);
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 800px;
}
nav .logo {
    display: flex;
    align-items: center;
    width: 50px;
}

nav h2 {
    color: #fff;
}
nav img {
    width: 70px;
}
nav .navegar {
    display: flex;
    gap: 30px;
}
a {
    color: #fff;
    text-decoration: none;
    margin: 5px;
    cursor: pointer;
}
a:hover {
    color: rgb(8, 7, 7);
}
nav button {
    border-radius: 8px;
    border-style: none;
    padding: 2px;
}


/*================CARD====================  */
.card img {
    border-radius: 50%;
    width:100%
}
.card{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px 7px 5px ;
    border: 0.5px solid #ffffff;
    border-radius: 20px;
    padding: 0.5rem 0.5rem 0 0.5rem;
    position: relative;
    width: 200px;
} 
.card:hover{
    border: 3px solid rgb(46, 115, 219);

  }
.card-grid{
    display: flex;
    justify-content: space-evenly;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90vw;
    height: auto;
  }
.card .favButton{
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    box-shadow: -0.5px 1px 2px 1px;
    cursor: pointer;
    position: absolute;
    top: 11px;
    right: 12px;
    width: 1.8vw;
    height: 3.9vh;
}
.card .imgperfil{
    margin-top: 1.8px;
    color:rgb(158, 13, 13)
}


/*===============CONTACT===================  */
.contact{
    text-align: center;
    margin-top: 20px;
}
.contact img {
    height: 50vh;
    width: 40vw;
}

/*================FORM====================  */
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100vh;
}
form > input{
    background-color: rgb(228, 243, 250);
    border-style: none;
    border-radius: 15px;
    box-shadow: 10px 10px 10px 0px;
    margin-top: 10px;
    height: 6vh;
    width: 20vw;
    padding-left: 20px;
}
form > button{
    background-color: rgb(11, 96, 161);
    border-radius: 10px;
    border-style: none;   
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    height: 5vh;
    width: 7vw;
}


/*================FAVS====================  */
.card-grid {
    height: 100vh;
}


/*================FOOTHER=================  */
footer {
    display: flex;
    justify-content: space-around;
    gap: 800px;
    align-items: center;
    padding: 2rem;
   
    background-color: rgb(11, 96, 161);
    width: 100%;
    margin-top: 2rem;
}
footer > img{
    background-color: #fff;
    border-radius: 10px;
    width: 10%;
}
footer > p{
    margin: 0;
    padding-top: 0.7rem;
}

footer > div{
  display: flex;
  gap: 10px;
}
footer .imgperfil{
  width: 35px;
  height: 35px;
}
/*===========================================  */

